body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #fff0f5;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #ff4d6d;
    font-size: 3rem;
}

h2 {
    color: #333;
}

.contador-box {
    background: white;
    max-width: 900px;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contador-caixas {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.caixa {
    background: #ff4d6d;
    color: white;
    width: 100px;
    padding: 20px 10px;
    border-radius: 15px;
}

.caixa span {
    display: block;
    font-size: 2rem;
    font-weight: bold;
}

.caixa p {
    margin: 10px 0 0;
}

.revelar {
    background: #f5f2f2;
    color: #ff4d6d;
    border: none;
    padding: 20px 40px;
    font-size: 1.2rem;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

.revelar:hover {
    transform: scale(1.05);
}

.musica-container {
    margin-top: 20vh;
}

.linha-do-tempo {
    max-width: 800px;
    margin: 80px auto;
}

.linha-do-tempo h2 {
    text-align: center;
    margin-bottom: 40px;
}

.evento {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 40px;
}

.bolinha {
    width: 20px;
    height: 20px;
    background-color: #ff4d6d;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 10px;
    position: relative;
}

.bolinha::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 9px;
    width: 2px;
    height: 90px;
    background-color: #ff4d6d;
}

.evento:last-child .bolinha::after {
    display: none;
}

.texto {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.texto h3 {
    margin-top: 0;
    color: #ff4d6d;
}

.texto p {
    margin: 0;
    line-height: 1.6;
}

.carrossel {
    position: relative;
    overflow: hidden;
    width: 90%;
    max-width: 380px;
    height: 470px;
    margin: 120px auto 100px auto;
    background: white;
    padding: 12px;
    border-radius: 28px;
    box-shadow: 0 15px 38px rgba(0, 0, 0, 0.12);
}

.slide {
    width: calc(100% - 24px);
    height: 450px;
    object-fit: cover;
    border-radius: 20px;
    display: none;
    position: absolute;
    top: 12px;
    left: 12px;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.slide.ativo {
    display: block;
    opacity: 1;
}

#spotify {
    width: 90%;
    max-width: 500px;
    margin: 50px auto 120px auto;
}

#spotify iframe {
    width: 100%;
}

#chuva {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 0;
}

header,
section,
.carrossel,
.musica-container,
#spotify,
.texto,
.contador-box {
    position: relative;
    z-index: 1;
}

.emoji {
    position: fixed;
    font-size: 22px;
    animation: cair linear forwards;
    z-index: -1;
    opacity: 0.8;
}

@keyframes cair {
    0% {
        transform: translateY(-50px) rotate(0deg);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    100% {
        transform: translateY(110vh) rotate(360deg);
        opacity: 0;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.2rem;
    }

    .caixa {
        width: 80px;
        padding: 15px 5px;
    }

    .caixa span {
        font-size: 1.5rem;
    }

    .evento {
        flex-direction: column;
        gap: 10px;
    }

    .bolinha {
        margin-bottom: 10px;
    }

    .bolinha::after {
        display: none;
    }

    .carrossel {
        max-width: 95%;
        height: 400px;
    }

    .slide {
        height: 380px;
    }
}
